In [ ]:
import pandas as pd
import io
df = pd.read_csv('Salaries.csv')

In [ ]:
# first thing i do usually is to use df.head to get familiar with the data and its columns .
df.head()

,Id,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Notes,Agency,Status
0,1,NATHANIEL FORD,GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY,167411.18,0.00,400184.25,NaN,567595.43,567595.43,2011,NaN,San Francisco,NaN
1,2,GARY JIMENEZ,CAPTAIN III (POLICE DEPARTMENT),155966.02,245131.88,137811.38,NaN,538909.28,538909.28,2011,NaN,San Francisco,NaN
2,3,ALBERT PARDINI,CAPTAIN III (POLICE DEPARTMENT),212739.13,106088.18,16452.60,NaN,335279.91,335279.91,2011,NaN,San Francisco,NaN
3,4,CHRISTOPHER CHONG,WIRE ROPE CABLE MAINTENANCE MECHANIC,77916.00,56120.71,198306.90,NaN,332343.61,332343.61,2011,NaN,San Francisco,NaN
4,5,PATRICK GARDNER,"DEPUTY CHIEF OF DEPARTMENT,(FIRE DEPARTMENT)",134401.60,9737.00,182234.59,NaN,326373.19,326373.19,2011,NaN,San Francisco,NaN

In [ ]:
# get number of rows for dataset :
# one way to do it :
print(len(df.index))
# sec:
print(df.shape[0])
# thr:
print(df[df.columns[0]].count())

30362
30362
30362

In [ ]:
# to get the number of Columns :
print(len(df.columns))
# or  :
print(df.shape[1])

11
11

In [ ]:
# to get the types i usually use :
print(df.dtypes)

Id                    int64
EmployeeName         object
JobTitle             object
BasePay             float64
OvertimePay         float64
OtherPay            float64
Benefits            float64
TotalPay            float64
TotalPayBenefits    float64
Year                float64
Agency               object
dtype: object

In [ ]:
# what this line of code does is  take the null values in each column and calculate the total for each column:
print(df.isnull().sum())

Id                      0
EmployeeName            1
JobTitle                1
BasePay                 0
OvertimePay             1
OtherPay                1
Benefits            30362
TotalPay                1
TotalPayBenefits        1
Year                    1
Agency                  1
dtype: int64

In [ ]:
# describe: to get statistics info for all features i typically use
print(df['BasePay'].describe())
print(df['OvertimePay'].describe())
print(df['OtherPay'].describe())
print(df['Benefits'].describe())
print(df['TotalPay'].describe())
print(df['TotalPayBenefits'].describe())

count     30361.000000
mean      74696.904818
std       34452.939565
min           0.000000
25%       52076.660000
50%       68522.980000
75%       97847.650000
max      294580.020000
Name: BasePay, dtype: float64
count     30361.000000
mean       5379.488587
std       11261.837830
min           0.000000
25%           0.000000
50%         349.900000
75%        5713.800000
max      245131.880000
Name: OvertimePay, dtype: float64
count     30361.000000
mean       4237.655611
std        8532.614169
min           0.000000
25%          46.000000
50%        1280.000000
75%        5027.210000
max      400184.250000
Name: OtherPay, dtype: float64
count    0.0
mean     NaN
std      NaN
min      NaN
25%      NaN
50%      NaN
75%      NaN
max      NaN
Name: Benefits, dtype: float64
count     30361.000000
mean      84314.049016
std       41207.910605
min       14682.220000
25%       55316.810000
50%       77318.230000
75%      109822.320000
max      567595.430000
Name: TotalPay, dtype: float64
count     30361.000000
mean      84314.049016
std       41207.910605
min       14682.220000
25%       55316.810000
50%       77318.230000
75%      109822.320000
max      567595.430000
Name: TotalPayBenefits, dtype: float64

In [ ]:
# handling missing data :
# i noticed for the Notes And Status , all samples are null , so we will drop the two features :
df.drop('Notes', axis=1, inplace=True)
df.drop('Status', axis=1, inplace=True)

,Id,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Agency
0,1,NATHANIEL FORD,GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY,167411.18,0.00,400184.25,NaN,567595.43,567595.43,2011.0,San Francisco
1,2,GARY JIMENEZ,CAPTAIN III (POLICE DEPARTMENT),155966.02,245131.88,137811.38,NaN,538909.28,538909.28,2011.0,San Francisco
2,3,ALBERT PARDINI,CAPTAIN III (POLICE DEPARTMENT),212739.13,106088.18,16452.60,NaN,335279.91,335279.91,2011.0,San Francisco
3,4,CHRISTOPHER CHONG,WIRE ROPE CABLE MAINTENANCE MECHANIC,77916.00,56120.71,198306.90,NaN,332343.61,332343.61,2011.0,San Francisco
4,5,PATRICK GARDNER,"DEPUTY CHIEF OF DEPARTMENT,(FIRE DEPARTMENT)",134401.60,9737.00,182234.59,NaN,326373.19,326373.19,2011.0,San Francisco

In [ ]:
# now i will deal with basePay Null Value :
'''
 i checked the data and i saw that there is no very clear mode in the data ,
 like i thought if something has not occured too much like 40% percent of times , then
 it is not the bect practice to fill the null values with the mode , therefore i will change it with the median
'''
df['BasePay'].fillna(df['BasePay'].median(), inplace=True)
df['Benefits'].fillna(df['Benefits'].median(),inplace=True)
df['OtherPay'].fillna(df['OtherPay'].median(),inplace=True)
df['OvertimePay'].fillna(df['OvertimePay'].median(),inplace=True)

In [ ]:
# data visulaization :
import matplotlib.pyplot as plt
import seaborn as sns
sns.histplot(df['TotalPay'], bins=20, kde=True)
plt.xlabel('TotalPay')
plt.ylabel('Frequency')
plt.title(f'TotalPay Histogram')
plt.show()

sns.histplot(df['TotalPayBenefits'], bins=20, kde=True)
plt.xlabel('TotalPayBenefits')
plt.ylabel('Frequency')
plt.title(f'TotalPayBenefits Histogram')
plt.show()

In [ ]:
# Count the occurrences of each JobTitle
job_title_counts = df['JobTitle'].value_counts()

# Plotting the pie chart
plt.pie(job_title_counts, labels=job_title_counts.index, autopct='%1.1f%%', startangle=90)
plt.axis('equal')  # Equal aspect ratio ensures that the pie is drawn as a circle.
plt.title('Proportion of Employees in Different Job Titles')
plt.show()

In [ ]:
columns_of_interest = ['Agency','JobTitle', 'Year']

# Perform grouped analysis for each column using a for loop
for column in columns_of_interest:
    grouped_by_column = df.groupby(column)
    average_salary_by_column = grouped_by_column['TotalPay'].mean(0)
    print(f"Average Salary by {column}:\n", average_salary_by_column)
    print("\n")

In [ ]:
# let us now do some simple correlation :
correlation_coefficient = df['TotalPay'].corr(df['Benefits'])

print(f"Correlation between Salary and Benefits : {correlation_coefficient}")

In [ ]:
# Scatter Plot
plt.scatter(df['Benefits'], df['TotalPay'])
plt.xlabel('Benefits')
plt.ylabel('TotalPay')
plt.title(f'Scatter Plot: TotalPay vs Benefits')
plt.show()

In [ ]:
''' Insights :
missing value in BasePay,OvertimePay,OtherPay,Benefits(30%) .
all data is missed in Notes,Status features -> drop .
mode of salary is 0.0 .
filling missing values of BasePay,OvertimePay,OtherPay features my median because of skewed distribution of data .
filling missing values of Benefits feature by median because of outliers .
high correlation between salary and Benefits . '''